@page "/weigth"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Personal Management - Weigth</PageTitle>

<br />
<br />
<h2>Weigth</h2>
<br />