@page "/sub-categories"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Personal Management - Sub categories</PageTitle>

<br />
<br />
<h2>Sub categories</h2>
<br />