@page "/addproxies"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Personal Management - Add OSRS Proxies</PageTitle>

<br />
<br />
<h2>Add OSRS Proxies</h2>
<br />

<EditForm Model="@addProxiesDto" OnSubmit="HandleSubmit">
    <div class="row">
        <div class="col-2">
            <label>Proxies:</label>
            <textarea class="form-control" rows="5" @bind="addProxiesDto.ProxiesInfo"></textarea>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {

    AddProxiesDto addProxiesDto = new AddProxiesDto { };

    protected override async Task OnInitializedAsync()
    {

    }

    async Task HandleSubmit()
    {
        var formData = new MultipartFormDataContent();

        formData.Add(new StringContent(addProxiesDto.ProxiesInfo), "ProxiesInfo");

        var response = await Http.PostAsync("api/Proxies", formData);

        if (response.IsSuccessStatusCode)
        {
            // Redirect to another page upon successful processing
            NavigationManager.NavigateTo("/proxies");
        }
    }
}