@page "/osrsAccounts"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Personal Management - OSRS Accounts</PageTitle>

<br />
<br />
<h2>OSRS Accounts</h2>
<br />