@page "/osrs"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Personal Management - OSRS</PageTitle>

<br />
<br />
<h2>OSRS</h2>
<br />
