@page "/proxies"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Personal Management - OSRS Proxies</PageTitle>

<br />
<br />
<h2>OSRS Proxies</h2>
<br />